<div #wrapper class="wrapper">
  <video
    #video
    [class.zoomed-in]="zoomedIn === true"
    [style.transform]="'scale(' + zoomLevel + ')'"
  ></video>
  <canvas #canvas width="1920" height="1280"></canvas>

  <div class="captures">
    <img
      *ngFor="let capture of captures; let i = index"
      src="{{ capture }}"
      (click)="selectedImage = capture; selectedIndex = i"
    />
  </div>

  <div
    *ngIf="selectedImage"
    class="selected-image"
    (click)="selectedImage = ''; selectedIndex = -1"
  >
    <img src="{{ selectedImage }}" />

    <div class="selected-icons">
      <mat-icon
        *ngIf="selectedImage"
        class="close-icon"
        (click)="selectedImage = ''; selectedIndex = -1"
        matTooltip="Close Image"
        matTooltipPosition="before"
        matTooltipShowDelay="200"
        >close
      </mat-icon>

      <mat-icon
        *ngIf="selectedImage"
        class="delete-icon"
        color="warn"
        (click)="deleteSelectedImage()"
        matTooltip="Delete Image"
        matTooltipPosition="before"
        matTooltipShowDelay="200"
        >delete
      </mat-icon>
    </div>
  </div>

  <mat-icon
    class="settings-icon"
    (click)="openSettingsDialog()"
    [class.hidden]="fullscreen === true"
    matTooltip="Open Settings"
    matTooltipPosition="before"
    matTooltipShowDelay="200"
  >
    settings_applications
  </mat-icon>

  <mat-icon
    class="capture-icon"
    (click)="captureImage()"
    matTooltip="Capture Image"
    matTooltipPosition="before"
    matTooltipShowDelay="200"
    >photo_camera</mat-icon
  >

  <mat-icon
    *ngIf="!fullscreen"
    class="fullscreen-icon"
    (click)="toggleFullscreen(true)"
    matTooltip="Fullscreen"
    matTooltipPosition="before"
    matTooltipShowDelay="200"
    >fullscreen</mat-icon
  >
  <mat-icon
    *ngIf="fullscreen"
    class="fullscreen-icon"
    (click)="toggleFullscreen(false)"
    matTooltip="Exit Fullscreen"
    matTooltipPosition="before"
    matTooltipShowDelay="200"
    >fullscreen_exit</mat-icon
  >
</div>
