.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  justify-items: end;
}

.zoomed-in {
  object-fit: cover;
}

video::-webkit-media-controls {
  display: none;
}

video {
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.captures {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1.2rem;

  z-index: 2;

  img {
    height: 25px;
    margin: 0 5px 0 5px;
    border: 1px white solid;
    opacity: 0.7;
  }
}

canvas {
  position: fixed;
  visibility: hidden;
}

mat-icon {
  cursor: pointer;
  margin: 1.2rem;
  color: white;
  text-shadow: 2px 2px #222222;
  opacity: 0.4;
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
  z-index: 4;

  &:hover {
    opacity: 0.8;
    text-shadow: 1px 1px #222222;
  }
}

.capture-icon {
  opacity: 0.6;
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
  align-self: end;
}

.selected-image {
  display: flex;
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  z-index: 3;

  img {
    // height: 100%;
    width: 100%;
    border: 3px white solid;
  }
}

.hidden {
  visibility: hidden;
}

.selected-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(-5rem);
}

.close-icon {
}

.delete-icon {
}

.settings-icon {
  grid-row: 1;
  grid-column: 3;
}

.fullscreen-icon {
  grid-row: 3;
  grid-column: 3;
  align-self: end;
}
