.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  justify-items: end;
}

video::-webkit-media-controls {
  display: none;
}

video {
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  position: fixed;
  z-index: 1;
}

mat-icon {
  cursor: pointer;
  margin: 1.2rem;
  color: white;
  text-shadow: 2px 2px #222222;
  opacity: 0.4;
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
  z-index: 4;

  &:hover {
    opacity: 0.8;
    text-shadow: 1px 1px #222222;
  }
}

.hidden {
  visibility: hidden;
}

.settings-icon {
  grid-row: 1;
  grid-column: 3;
}

.fullscreen-icon {
  grid-row: 3;
  grid-column: 3;
  align-self: end;
}
