<div #wrapper class="wrapper">
  <video
    #video
    [style.object-fit]="zoomLevel > 1 ? 'cover' : 'contain'"
    [style.transform]="'scale(' + zoomLevel + ')'"
  ></video>
  <canvas #canvas width="1920" height="1280"></canvas>

  <div
    *ngIf="selectedImage"
    class="selected-image"
    (click)="selectedImage = ''; selectedIndex = -1"
  >
    <img src="{{ selectedImage }}" />

    <div class="selected-icons">
      <mat-icon
        *ngIf="selectedImage"
        class="close-icon"
        (click)="selectedImage = ''; selectedIndex = -1"
        matTooltip="Close Image"
        matTooltipPosition="before"
        matTooltipShowDelay="200"
        >close
      </mat-icon>

      <mat-icon
        *ngIf="selectedImage"
        class="delete-icon"
        color="warn"
        (click)="deleteSelectedImage()"
        matTooltip="Delete Image"
        matTooltipPosition="before"
        matTooltipShowDelay="200"
        >delete
      </mat-icon>
    </div>
  </div>

  <mat-icon
    class="settings-icon"
    (click)="openSettingsDialog()"
    [class.hidden]="fullscreen === true"
    matTooltip="Open Settings"
    matTooltipPosition="before"
    matTooltipShowDelay="200"
  >
    settings_applications
  </mat-icon>

  <mat-icon
    *ngIf="!fullscreen"
    class="fullscreen-icon"
    (click)="toggleFullscreen(true)"
    matTooltip="Fullscreen"
    matTooltipPosition="before"
    matTooltipShowDelay="200"
    >fullscreen</mat-icon
  >
  <mat-icon
    *ngIf="fullscreen"
    class="fullscreen-icon"
    (click)="toggleFullscreen(false)"
    matTooltip="Exit Fullscreen"
    matTooltipPosition="before"
    matTooltipShowDelay="200"
    >fullscreen_exit</mat-icon
  >

  <mat-slider
    color="primary"
    [value]="zoomLevel"
    (change)="setZoomLevel($event)"
    min="1"
    max="5"
    step="0.5"
  ></mat-slider>
</div>
