<h2 mat-dialog-title>Settings</h2>

<div mat-dialog-content>
  <mat-card class="settings-card">
    <mat-card-header>
      <mat-icon mat-card-avatar>switch_camera</mat-icon>
      <mat-card-title>Select Feed</mat-card-title>
      <mat-card-subtitle>Select the video feed to display</mat-card-subtitle>
    </mat-card-header>
    <mat-radio-group [value]="deviceId" (change)="changeDevice($event)">
      <div class="device" *ngFor="let device of devices">
        <mat-radio-button [value]="device.deviceId">
          {{ parseLabel(device.label) }}
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </mat-card>
</div>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
